* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

html, body{
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

main{
display: flex;
}

.content{
    width: 100%;
    margin: 40px 50px 0;
}

/* Navigation-Bar */
.navbar{
    width: 300px;
    height: 100vh;
    background-color: #000;
    padding: 20px;
    position: relative;
}

.navbar .left{
    padding: 8px 0;
    position: absolute;
    right: -20px;
    top: 50%;
}

.navbar .left img{
    width: 24px;
    height: 24px;
    padding: 8px 0;
    background-color: #777;
    border-radius: 8px;
}

/* Feature */
.features{
    margin-top: 50px;
}

.features a{
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: block;
}

.feature-1, .feature-2,.feature-2-1, .feature-3, .feature-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.feature-1 img{
    width: 20px;
    height: 20px;
}

.feature-1 a,
.feature-2 a,
.feature-2-1 a,
.feature-3 a,
.feature-4 a{
    color: #999;
}

/* Action */
.tool{
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    position: relative;
}

.action{
    display: flex;
    justify-content: center;
}

.action a{
    margin-left: 20px;
}

.action img{
    height: 24px;
    width: 24px;
}

.action .user{
    display: flex;
   align-items: center;
}

.action .bell{
    position: relative;
}

.action .bell::after{
    content: "";
    width: 8px;
    height: 8px;
    background-color: red;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
}

.action span{
    font-family: sans-serif;
}

.btn-cta{
    display: flex;
    align-items: center;
    gap: 5px;    
    border: 2px solid #aaa;
    padding: 5px 20px 5px 5px;
    position: absolute;
    bottom: -20px;
    right: 400px;
    background-color: #ddd;
    color: #000;
    font-family: sans-serif;
}

.btn-cta img{
    width: 24px;
    height: 24px;
}

/* Item */
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 16px;
    margin-top: 60px;
}

.item{
    background-color: #f7f7f7;
    width: 220px;
    height: 500px;
    padding: 15px;
    border-bottom: 2px solid #2989DF;
    align-self: center;
}

.item:hover{
    box-shadow: 0 4px 8px #0000001a;
    transform: translateY(-4px);
    box-shadow: 0 4px 8px #0000001a;
    border-bottom: 2px solid #f3a825;
}

.item .title{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
}

.item .title::after{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: #2989DF;
    position: absolute;
    bottom: -5px;
    left: 50%;
    border-radius: 20px;
    transform: translateX(-50%);
}

.item:hover .title::after{
    background-color: #f3a825;
}

.item .price{
    font-size: 2.4rem;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 60px;
    text-align: center;
}

.item .currency{
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
}

.item a{
    display: block;
    margin: 50px 0 20px;
    padding: 16px;
    background-color: #2989DF;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.item:hover a{
    background-color: #f3a825;
}

.item img{
    width: 24px;
    height: 24px;
}

.item .desc{
    display: flex;
    align-items: center;
    gap: 5px;
}

.item p{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
}